body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #7E5B3A;
  padding-top: 70px;
}

hr {
    border: none;
    height: 5px;
    color: #bcbbbb; /* old IE */
    background-color: #bcbbbb; /* Modern Browsers */
}

h4 {
	font-size: 20px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.title-logo {
	margin-top: 20px;
}

.category-title {
	margin-top: 50px;
	margin-left: 15px;
}

.item-title {
	font-size: 24px;
}

.item-container {
    margin-bottom: 20px;
  }

@media screen and (max-width: 767px) {

  h4 {
    font-size: 16px;
  }

  .category-title
  {
    margin-top: 20px;
    font-size: 16px;
  }

  .title-super {
    font-size: 25px;
  }

  .item-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .title-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}